.editList{
  width: 800px;
  margin: 0 auto;
}
.table-box {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
  font-size: 16px;
  table-layout: fixed;
}
.table-box td,.table-box th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: .3em 1em;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table-box thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: center;
  vertical-align: bottom;
}
.state_button{
  border: none;
  background-color: white;
  color: rgba(82, 168, 236, 0.8);
  border-radius: 4px;
}
.state_button:focus{
  outline: 0;
  color: rgb(98, 96, 189);
}
.edit-article{
  color: rgba(82, 168, 236, 0.8);
  font-size: 13px;
  text-decoration: none;
}
.edit-article:hover,.state_button:hover{
  color: rgb(98, 96, 189);
}
.new-article{
  position: relative;
  padding-top: 40px;
  float: inline-end;
}
.new-article-link{
  padding: 10px;
  border: 1px solid rgb(70, 98, 131);
  border-radius: 15px;
  position: relative;
  float: right;
  color: black;
  text-decoration: none;
}